body {

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: linear-gradient(to right ,#15151d, #303040);
}

h1 {
    text-shadow: 2px 2px 5px black;
    color: #e6e6f1;
    font-size: 45px;
    font-family: 'Gill Sans', Arial, sans-serif;
    font-weight: bold;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    text-shadow:1px 1px 45px rgb(178, 178, 229, 0.382), 1px 1px 45px rgba(178, 178, 229, 0.382);
}
h1:hover {
    color: #cacad5;
    font-size: 47.5px;
    text-shadow:1px 1px 90px rgb(178, 178, 229, 0.5), 1px 1px 90px rgba(178, 178, 229, 0.5);
}
h2 {

}
h3 {

}
.nimiteksti {
    text-shadow: 1px 1px 2.5px black;
    color: rgb(230, 230, 241);
    font-size: 15px;
    font-family: 'Gill Sans', Arial, sans-serif;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    text-shadow:1px 1px 22.5px rgb(178, 178, 229, 0.382), 1px 1px 22.5px rgba(178, 178, 229, 0.382);
}
.nimiteksti:hover {
    font-size: 15.25px;
    text-shadow:1px 1px 50px rgb(178, 178, 229, 0.4), 1px 1px 50px rgba(178, 178, 229, 0.4);
}
.normilinkki {
    text-shadow: 1px 1px 2.5px black;
    color: rgb(172, 172, 224);
    font-size: 25px;
    font-family: 'Gill Sans', Arial, sans-serif;
    text-decoration: none;
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}
.normilinkki:hover {
    color: #9797da;
    font-size: 27px;
}
.namediv {
    display: flex;
}
.namesubdiv {
    size: auto;
    margin-top: 10px;
    margin-left: 2.5%; 
}
.projectdiv {
    display: flex;
}
.projectsubdiv {
    height: auto;
    width: 1080px;
    margin-top: 0px;
    margin-left: 2.5%;
}
.projectsubsubdiv {
    size: auto; 
    background: linear-gradient(#1b1b24, #2e2e3e);
    border-style: solid;
    border-radius: 15px;
    border-width: 2.5px;
    border-color: rgb(59, 59, 70);
    box-shadow: 1px 1px 2.5px black;
    padding-bottom: 15px;
    margin-top: 50px;
}
.headerp {
    text-shadow: 1px 1px 2.5px black;
    color: #e6e6f1;
    font-size: 25px;
    font-family: 'Gill Sans', Arial, sans-serif;
    margin-top: 15px;
    margin-left: 2.5%;
}

.infop {
    text-shadow: 1px 1px 2.5px black;
    color: #e6e6f1;
    font-size: 16px;
    font-family: 'Gill Sans', Arial, sans-serif;
    margin-top: 15px;
    margin-left: 2.5%;
}
.instagramkuvake {
}
img {
    padding-right: 10px;
    margin-top: 0px;
    margin-left: auto;
    height: 30px;
    width: auto;
    filter: drop-shadow(1px 1px 45px rgb(178, 178, 229, 0.382), 1px 1px 45px rgba(178, 178, 229, 0.382));
    filter: drop-shadow( 2px 2px 5px black);
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}
img:hover {
    height: 35px;
    width: auto;
    filter: drop-shadow(1px 1px 50px rgb(178, 178, 229, 0.382), 1px 1px 50px rgba(178, 178, 229, 0.382));
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #121013 #c2c0c0;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #303040;
}
*::-webkit-scrollbar-thumb {
  background-color: #312d34;
  border-radius: 5px;
  border: 2px solid #3d373f;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.napit{
    display: flex;
}

.nappi{
    size: auto;
    margin-top: 20px;
    margin-left: 2.5%;
}