body {
    background-color: rgb(29, 29, 38);
}

h1{
    text-shadow: 2px 2px 5px black;
    color: rgb(230, 230, 241);
    font-size: 45px;
    font-family: 'Gill Sans', Arial, sans-serif;
    font-weight: bold;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}
h1:hover{
    color: rgb(202, 202, 213);
    font-size: 50px;
}
h2{}
h3{}
p{
    text-shadow: 1px 1px 2.5px black;
    color: rgb(230, 230, 241);
    font-size: 15px;
    font-family: 'Gill Sans', Arial, sans-serif;
}
a{}
.namediv {
    display: flex;
}
.namesubdiv {
    size: auto;
    margin-top: 75px;
    margin-left: 100px; 
}